CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.DS_store
*/.DS_store

*/lex.yy.c
*/y.tab.c
*/y.tab.cpp
*/y.tab.h
*/y.tab.hpp

.idea

cmake-build-debug/*

*.cbp
*/*.a
